.nav-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.sidebar {
  width: 220px;
  padding: 10px;
  padding-left: 0px;
  overflow-x: hidden;
  height: calc(100vh - 56px);
  transition: width 0.3s;
  font-size: 12px;
}

.sidebar.collapsed {
  width: 70px;
}

.sidebar-content {
  width: 220px;
}

.sidebar-item {
  padding-left: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sidebar-item-active {
  background-color: #454d55;
  color: white;
}

.sidebar-item a {
  font-size: 25px;
  color: black;
  margin-left: 12px;
}

.sidebar-icon-holder {
  width: 50px;
  height: 50px;
  transform: scale(0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
}
